// Core variables and mixins
@import "variables.less";
@import "resources/vendor/bootstrap/less/mixins.less";

// Reset and dependencies
@import "resources/vendor/bootstrap/less/normalize.less";
@import "resources/vendor/bootstrap/less/print.less";

// Core CSS
@import "resources/vendor/bootstrap/less/scaffolding.less";
@import "resources/vendor/bootstrap/less/type.less";
@import "resources/vendor/bootstrap/less/code.less";
@import "resources/vendor/bootstrap/less/grid.less";
@import "resources/vendor/bootstrap/less/tables.less";
@import "resources/vendor/bootstrap/less/forms.less";
@import "resources/vendor/bootstrap/less/buttons.less";

// Components
@import "resources/vendor/bootstrap/less/component-animations.less";
@import "resources/vendor/bootstrap/less/dropdowns.less";
@import "resources/vendor/bootstrap/less/button-groups.less";
@import "resources/vendor/bootstrap/less/input-groups.less";
@import "resources/vendor/bootstrap/less/navs.less";
@import "resources/vendor/bootstrap/less/navbar.less";
@import "resources/vendor/bootstrap/less/breadcrumbs.less";
@import "resources/vendor/bootstrap/less/pagination.less";
@import "resources/vendor/bootstrap/less/pager.less";
@import "resources/vendor/bootstrap/less/labels.less";
@import "resources/vendor/bootstrap/less/badges.less";
@import "resources/vendor/bootstrap/less/jumbotron.less";
@import "resources/vendor/bootstrap/less/thumbnails.less";
@import "resources/vendor/bootstrap/less/alerts.less";
@import "resources/vendor/bootstrap/less/progress-bars.less";
@import "resources/vendor/bootstrap/less/media.less";
@import "resources/vendor/bootstrap/less/list-group.less";
@import "resources/vendor/bootstrap/less/panels.less";
@import "resources/vendor/bootstrap/less/responsive-embed.less";
@import "resources/vendor/bootstrap/less/wells.less";
@import "resources/vendor/bootstrap/less/close.less";

// Components w/ JavaScript
@import "resources/vendor/bootstrap/less/modals.less";
@import "resources/vendor/bootstrap/less/tooltip.less";
@import "resources/vendor/bootstrap/less/popovers.less";

// Utility classes
@import "resources/vendor/bootstrap/less/utilities.less";
@import "resources/vendor/bootstrap/less/responsive-utilities.less";

@import "bootstrap-social.less";
@import "fileinput.less";

a:focus {outline: none;}
a:hover {
    text-decoration: none;
    transition: all 0.35s ease-in-out 0s;
}
// Buttons ====================================================================
.btn-group.open .dropdown-toggle {
    .box-shadow(none);
}
.btn:not(.btn-link) {
    border:0;
    border-bottom:0;
    border-left:0;
    font-weight:'900';
    font-family:'Roboto', sans-serif;
    box-shadow: inset 0 -3.2px rgba(0, 0, 0, 0.12),inset 2px 0 rgba(0, 0, 0, 0.1);
    outline:none;
    -webkit-outline:none;
    -o-outline:none;
    -moz-outline:none;
}
.btn:active, .btn.active {
    outline:none;
    -moz-outline:none;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    position: relative;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;top: 1px;left:-1px;
}
.btn:focus {
    outline:none;
    -webkit-outline:none;
    -moz-outline:none;
}
.btn-sm {
    padding-top:1.5px;
}
@font-size-huge:          ceil((@font-size-base * 1.7)); // ~24px
@padding-huge-vertical:    16px;
@padding-huge-horizontal:  20px;
@line-height-huge:         1.1;

.btn-hg {
    // line-height: ensure even-numbered height of button next to huge input
    .button-size(@padding-huge-vertical; @padding-huge-horizontal; @font-size-huge; @line-height-huge; @border-radius-large);
}
@btn-secondary-color:              #fff;
@btn-secondary-bg:                 @brand-secondary;
@btn-secondary-border:             darken(@btn-secondary-bg, 5%);
.btn-secondary {
    .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}
.modal-hg {
    width: @container-md;
}
.datepicker {
    padding: 6px 12px!important;
}
.nav .login {
    margin-left: 15px;
}
// Footer
footer {
    background: @gray-dark;
    color: @gray-lighter;
    margin: 40px 0 0;
    padding: 20px 0 20px;
    h5 {
        line-height: 28px;
    }
    p, .list-inline {
        padding-top: 10px;
    }
    .list-inline {
        margin-bottom:  0px;
    }
    hr {
        border-top: 1px solid @gray;
        margin-top: 10px;
    }
}
// Dashboard panels
.panel-green {
    border-color: @brand-success;
    .panel-heading {
        background-color: @brand-success;
        border-color: @brand-success;
        color: #fff;
    }
    a {
        color: @brand-success;
        &:hover {
            color: darken(@brand-success, 15%);
        }
    }
}
.panel-red {
    border-color: @brand-danger;
    .panel-heading {
        background-color: @brand-danger;
        border-color: @brand-danger;
        color: #fff;
    }
    a {
        color: @brand-danger;
        &:hover {
            color: darken(@brand-danger, 15%);
        }
    }
}
.panel-yellow {
    border-color: @brand-warning;
    .panel-heading {
        background-color: @brand-warning;
        border-color: @brand-warning;
        color: #fff;
    }
    a {
        color: @brand-warning;
        &:hover {
            color: darken(@brand-warning, 15%);
        }
    }
}
.footer-logo, .navbar-brand{
    color: @brand-primary!important;
    span {
        color: @brand-secondary;      
    }
}
// Jumbotron
.jumbotron {
    padding: @jumbotron-padding;
    margin-bottom: @jumbotron-padding;
    color: @jumbotron-color;
    background-color: @jumbotron-bg;
    .text-center;
    /*    &.home {
            background:;
        }*/
    h1,
    .h1 {
        color: @jumbotron-heading-color;
    }
    p {
        margin-bottom: (@jumbotron-padding / 2);
        font-size: @jumbotron-font-size;
        font-weight: 300;
    }

    > hr {
        //border-top-color: darken(@jumbotron-bg, 10%);
    }

    .container & {
        border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
    }

    .container {
        max-width: 100%;
    }

    @media screen and (min-width: @screen-sm-min) {
        padding-top:    (@jumbotron-padding * 1.6);
        padding-bottom: (@jumbotron-padding * 1.6);

        .container & {
            padding-left:  (@jumbotron-padding * 2);
            padding-right: (@jumbotron-padding * 2);
        }

        h1,
        .h1 {
            font-size: (@font-size-base * 4.5);
        }
    }
}
.wrapper-header  {
    margin-bottom: 30px;
    border-bottom: 1px solid @navbar-default-border;
    h3 {

    }
    .breadcrumb {
        padding: 20px 0 0;
        line-height: 26px;
        margin-bottom: 10px;
    }
}
/*.page-title {
    .text-center;
}*/
.bg-primary {
    background: @brand-primary;
}
.bg-secondary {
    background: @brand-secondary;
}
.bg-gray-dark {
    background: @gray-dark;
}
// Slider

.slider-wrapper * {
    -moz-box-sizing: content-box;
    font-family: "Roboto",sans-serif;
}
.slider-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 440px;
    margin: -30px auto 0;
    background: #f2f2f2;
    z-index: 800;
}
.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
    color: @gray-lighter;
}
.slider-wrapper p {
    position: absolute;
    top: -200px;
    z-index: 8000;
    padding: 1% 2%;
    font-size: 24px;
    line-height: 100%;
    white-space: nowrap;
    text-transform: uppercase;
}

.slider-wrapper .white {
    color: #FFF;
}

.slider-wrapper .claim {
    line-height: 100%;
}

.slider-wrapper .teaser {
    font-size: 14px;
    line-height: 100%;
}

.slider-wrapper .small {
    width: 250px;
    text-align: center;
}

.slider-wrapper .video {
    width: 540px;
    height: 360px;
    font-size: 13px;
    line-height: 18px;
    white-space: normal;
    text-align: left;
    text-transform: none;
}

.slider-wrapper .video iframe {
    width: 100%;
}

.slider-wrapper .text {
    width: 460px;
    font-size: 13px;
    padding: 0 2%;
    line-height: 18px;
    white-space: normal;
    text-align: left;
    text-transform: none;
}

.slider-wrapper .text a {
    margin-top: 20px;
}

.slider-wrapper .slide-light p {
    color: #FFF;
}

.slider-wrapper .slide-light p.claim {
    width: 50%;
    white-space: normal;
    maring-bottom: 20px;
}

.slider-wrapper .slide-light p.teaser {
    font-weight: 300;
}
.cta {
    padding: 20px 0 20px;
    h1{
        font-size: @font-size-h3;
        margin: 16px 0 0;
    }
}
.features {
    margin: 60px auto;
    .title {
        margin-bottom: 40px;
    }
}